<h1>Hot Reads</h1>

<div id='links-list'>
  <% @links.each do |link| %>
    <div class='link'>
      <h3>
        <a href= <%= link.url %> ><%= link.url %></a>
      </h3>
    <div>
  <% end %>
</div>